$gutter: 24px;

$white: #fff;
$black: #080808;
$blue: #1a91d6;
$red: #da0000;
$red--dark: #980000;
$green: #9cce3d;
$gray: #444;
$gray--60: #606060;
$gray--50: #888888;
$gray--dark: #3a3a3a;
$gray--light: #f2f2f2;

$border-color--default: #f2f2f2;
$border--default: 1px solid $border-color--default;

// Button Alt
$button-color--alt: $red;
$button-color-hover--alt: $red;
$button-border-color--alt: $red;
$button-border-color-hover--alt: $white;
$button-background-color--alt: transparent;
$button-background-color-hover--alt: $red;
