.container {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

  &__narrow {
    max-width: 936px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

:not(.flex) {
  [class*="col-"] {
    width: 100%;
    float: left;
    transition: width 0.15s ease;
  }

  .col-1-2 {
    width: 100%;
    @include media(">=large") {
      width: 50%;
    }
  }

  .col-1-3 {
    width: 100%;
    @include media(">=large") {
      width: 33.333333333%;
    }
  }

  .col-2-3 {
    width: 100%;
    @include media(">=large") {
      width: 66.666666666%;
    }
  }

  .col-1-5 {
    width: 20%;
  }

  .col-2-5 {
    width: 40%;
  }

  .col-3-5 {
    width: 60%;
  }

  .col-4-5 {
    width: 80%;
  }
}

.flex {
  .col {
    @include media("<large") {
      width: 100%;
    }

    @include media(">=large") {
      flex: 1;
      flex-wrap: wrap;
      padding-right: $gutter;
    }
  }
}
