$font-family--alpha: #{"Assistant", "'Open Sans'", Helvetica, Arial,
  "'Droid Sans'", sans-serif};

/**
 * Standaard paragrafen
 */
@mixin p {
  font-family: $font-family--alpha;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin type-alpha--hero() {
  font-family: $font-family--alpha;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

@mixin type-alpha--xl() {
  font-family: $font-family--alpha;
  font-size: 5.25rem;
  line-height: 0.875em;
}

@mixin type-alpha--l() {
  font-family: $font-family--alpha;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@mixin type-alpha--l--bold() {
  @include type-alpha--l();
  font-weight: 700;
}

@mixin type-alpha--l--light() {
  @include type-alpha--l();
  font-weight: 300;
}

@mixin type-alpha--body() {
  font-family: $font-family--alpha;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin type-alpha--body--bold() {
  @include type-alpha--body();
  font-weight: 700;
  line-height: 1.875rem;
}

@mixin type-alpha--body--meta() {
  @include type-alpha--body();
  font-weight: 500;
  color: $gray--50;
}
