.background {
  &--red {
    background-color: $red;
  }

  &--blue {
    background-color: $blue;
  }

  &--green {
    background-color: $green;
  }

  &--white {
    background-color: $white;
  }
}

.color {
  &--red {
    color: $red;
  }

  &--blue {
    color: $blue;
  }

  &--green {
    color: $green;
  }

  &--white {
    color: $white;
  }
}

.border {
  &--red {
    border-color: $red;
  }
}
