html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family--alpha;
  font-weight: 500;
  background: $white;
}

a {
  color: $red;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: darken($red, 10%);

    &:not(.button) {
      text-decoration: underline;
    }
  }

  &:visited {
    color: $red;
  }

  &:not[class*="js-"] {
    .fa {
      margin-left: $space-half;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: none;
  margin: verticalSpacing(desktop) 0;
}

p {
  margin-top: verticalSpacing(desktop);
  margin-bottom: 0;
}
