html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $gray--light;
  color: $gray;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &.search__visible {
    overflow-y: hidden;
  }
}
