$input-height: 3rem;

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  height: $input-height;
  padding: $padding-half $padding;
  background-color: $white;
  border: 0;
  border-radius: 3px;
  width: 100%;
  font-size: 0.875rem;
}
