.search {
  &__overlay {
    max-height: 0;
    opacity: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;

    transition: max-height 0.3s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 0.6s ease-out;

    div {
      height: 100%;
    }
  }

  &__visible & {
    &__overlay {
      max-height: 100vh;
      opacity: 1;
      top: 0;

      transition: max-height 0.4s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
        opacity 0.8s ease-out;
    }
  }

  &__form {
    width: 100%;
    input[type="search"] {
      width: 100%;
    }
    button[type="submit"] {
      margin-left: $space-half;
    }
  }

  &__open,
  &__close {
    cursor: pointer;
  }

  &__close {
    position: absolute;
    top: $gutter;
    right: $gutter;
  }
}
